*{
    border-style: box;
    padding: 0;
    border: 0;
}

body{
    overflow: hidden !important ;
}

.main-ico{
    width: 8rem;
}
#carouselExampleControls > div > div > div > h5,#carouselExampleControls > div > div > div > p{
      text-shadow: 2px 2px 8px #000;
}

.pageOut{
    overflow: hidden;
    max-width: 1px;
    max-height: 1px;
    padding: 0;
    margin: 0;
}