*{
    border-style: box;
    padding: 0;
    border: 0;
}

body{
    overflow-x: hidden !important ;
}

#carouselExampleControls > div > div > div > h5,#carouselExampleControls > div > div > div > p{
      text-shadow: 2px 2px 8px #000;
}

.main-ico{
    position: relative;   
}

.main-ico-text{
    position: relative;
    color: var(--secondary-dark);
    font-size: 2rem;
    font-weight: bold;
    top: 0px;
    text-shadow: 2px 2px 8px #000;
}

.buy-item{
    width: 4rem;
}

.search{
    max-width: 350px;
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
    .search{
        max-width: 80%;
    }
    
}

.cart{
    position: relative;
}

.cart-icon{
    position: relative;
    font-size: large;
}

.cart-notify{
    position: absolute;
    top: 10%;
    left: 55%;
    font-size: x-small;
}