@import url(//db.onlinewebfonts.com/c/8aa777a5cf7e863483848a81434d3b49?family=Goshen);

*{
    border-style: box;
    font-family: "Goshen",sans-serif;
    padding: 0;
    border: 0;
}

body{
    overflow-x: hidden !important ;
    background-color: rgb(250, 236, 219);
    background-image: url("../img/bg_tile3.jpg");
    color: #613916;
}

p{
    color: var(--secondary);
}

h1,h2,h3,h4{
    color: var(--dark);
}

h5{
    color: #613916;
}

.custom-select, input[type=number]{
    background-color: rgb(248, 244, 239) !important;
}

#carouselExampleControls > div > div > div > h5,#carouselExampleControls > div > div > div > p{
    text-shadow: 2px 2px 8px #000;
}

.container{
    background-color: rgb(250, 236, 219);
}

.main-ico{
    position: relative;   
}

.main-ico-text{
    position: relative;
    color: var(--dark);
    font-size: 2rem;
    font-weight: bold;
    top: 0px;
    text-shadow: 2px 2px 8px rgb(124, 124, 124);
}

.buy-item{
    width: 4rem;
}

.search{
    position: absolute;
    right: 0;
    max-width: 350px;
    padding-right: 5px;
}

.nav-img {
    max-width: 50px !important;
}

.cart{
    position: relative;
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
    .search{
        position: relative;
        max-width: 80%;
    }
    
    .navbar-brand, .nav-img {
        max-width: 0px !important;
        display: none !important;
    }

    .index-img {
        max-width: 60%;
    }
}

.cart-icon{
    position: relative;
    font-size: large;
}

.cart-notify{
    position: absolute;
    top: 10%;
    left: 55%;
    font-size: x-small;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

.input-group-text{
    background-color: var(--secondary) !important;
}